# Copy this file to `.env` and adjust for your local setup:

# set the name to just port, Google Cloud Run has issues recognizing anything but PORT for the main PORT


# This is the Port the Express server listens on 
PORT=3000
